body {
	max-width: 950px;
	background-color: #FDFDFD;
	color: #111;
	font-size: 18px;
	font-family: Georgia, Cambria, 'Liberation Serif', 'Lucida Serif', serif;
	line-height: 1.555em;
}

h1 {
    color: #D70751;
    text-shadow: 0px 2px 5px #aaa;
    line-height: 1em;
    font-size: 2em;
    margin: 0.25em 0 0.25em 0;
}

.accent_color {
    color:#D70751; text-shadow: 0px 2px 5px #aaa;

}

#freedom {
    color:#000; text-shadow: 0px 2px 5px #888;
    text-decoration: none;
}

/*---------------- menu tab----------------------*/

.menu ul{
list-style:none;
margin:0px;
float: right;
}

.menu ul li{
display:inline;
}

.menu ul li a{
float:left;
height:42px;
border:none;
padding:0 15px 0 15px;
text-decoration:none;
color: #D70751;
text-shadow: 0 2px 5px #AAAAAA;
line-height:42px;
font-size:22px;
}

#logo_container {
    margin-left: 1em;
}
#logo {
    font-size: 70px;
    fond-weight: bold;
    color: #000; 
    text-shadow: 0px 2px 3px #888;
}

#logo_box {
    color: #D70751;
    border-style:dashed;
    border-color: #AAAAAA;
    background-color:#FFFFFF;
}


#eben_quote {
    float: left;
    background: #fff;
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    font-size: 14pt;
    padding: 2em 1em 0 0;
}

#eben_quote_text {
    color: #555;
    z-index: 50;
    margin-right: 53px;
    position: relative; top: -0.5em;
    text-align: justify;
}

#eben_attribution {
    font-style: italic;
    float: right;
    position: relative; top: 1em;
}


.brace {
    font: 200px Tahoma, Helvetica, Arial, Sans-Serif;
    color: #BBB; text-shadow: 0px 2px 3px #888;
    float:left;
    z-index:-1;
}
.brace_right {
    font: 200px Tahoma, Helvetica, Arial, Sans-Serif;
    position: relative; top: -288px;
    color: #BBB; text-shadow: 0px 2px 3px #888;
    float:right;
}

#main_body {
    margin-left: 1em;
    margin-right: 1em;
}

#fp_nav {
    /*margin-left: 420px; */
    padding: 1em 2em 0 0;
}

#fp_list {
    font: 22px Helvetica, Arial, Sans-Serif;
    padding-left: 2em;
    padding-top: 2em;
}

.fp_item {
    margin-bottom: 1em;
}

#sep { 
	clear:both;
    margin: 0 1em 0 1em;
}

#news_left {
    padding-top: 10px;
}

/* feed */ 

.feedlink h1 {
	font-size: 1.3em;
}

#col_right {
    position: relative; top: -288px;
    padding-top:10px;
    float:right;
    width:410px;
}

#news_head  {
    text-align:center;
    font-size: 1.9em;
    color: #000; text-shadow: 0px 2px 3px #888;
    padding-bottom: 10px;
    .text-decoration:underline;
}
.news_item {
    width: 420px;
    margin-bottom: 1em;
    text-align: justify;
}

#fp_footer {
    clear:both;
    margin-left: 1em;
    padding-top: 0.5em;
    border-style: dashed;
    border-color: #D70751;
    border-width:thin 0px 0px 0px;
    color: #888888;
}

#otherlanguages {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
    padding-left: 1em;
    border-color: #D70751;
    border-style: dashed;
    border-width:thin thin thin thin;
    background-color: #ccc;
    font-size: 80%;
    color: #000;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #D70751;
}


hr {
	border-style: none;
	background-color: #999;
	height: 1px;
}

code, pre {
    background: #eee;
}

pre {
    padding: .5em;
}


.pageheader {
	margin: 0 1em 0 1em;
	border-color: #D70751;
 	border-style: none none dashed none;
	border-width: 1px;
    height:48px;
}

.title {
	display: block;
	margin-top: .2em;
	font: 140% sans-serif;
	text-transform: capitalize;
}

.actions {
	text-align: right;
	padding: 0;
}

#comments, #footer {
  	margin: 1em 2em;
}

#content {
  	margin: 0 1em 0 1em;
	padding-top:1px;
}

#pageinfo {
	border-color: #999;
	border-top: 0px;
}

#activity
{
	height: 400px;
	border:2px solid gray;
	padding: 5px;
	overflow: scroll;
	overflow-x: hidden;
}

.inlinepage {
	margin: .4em 0;
	padding: .4em 0;
	padding-top: 3px;
	border-style: none;
	position: relative;
}

.inlinepage .actions{
	text-align:left;
	padding-top: 3px;
	position:absolute;
	top:0;
	right:0;
}


.inlineheader {
	font-size: 120%;
	font-weight: normal;
	position:absolute;
	top:0;
	left:0;
}

.inlinecontent {
	padding-top:3px;
}

h2 { font: bold 100% sans-serif }
h3 { font: italic 100% sans-serif }
h4, h5, h6 { font: small-caps 100% sans-serif }

/* Smaller headings for inline pages */
.inlinepage h1 { font-size: 110% }
.inlinepage h2 { font-size: 100% }
.inlinepage h3 { font-size: 100% }

.pageheader .actions ul {
	border-style: none
}

.actions ul {
	font-size: 75%;
	padding: 0;
	border-style: none;
}

.actions ul li a {
	text-decoration: none;
}

.actions ul li {
	margin: 0;
	padding: .1em .5em 0 .5em;
	background: white;
	border-color: #999;
	border-style: solid solid none solid;
	border-width: 1px;
}

div.recentchanges {
	border-style: none;
}

.pagecloud {
	width: auto;
}

#editcontent {
    height: 50em;
}
/* added */
#content ul li ul li { margin-bottom: 1em; }
#content ul li p { margin-bottom: 0.25em; margin-top: 0.25em; }
p { word-wrap: break-word; }
div#logo a img { height: 42px; }
/* magic number, beware. */
@media (max-width: 725px)  { #logo { display:none; } }
.header { text-align: center; }
